<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\DotNetFlicks.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
      <monitoring>
        <triggers>
          <add statusCode="502" count="1" />
        </triggers>
        <actions value="LogEvent" />
      </monitoring
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 86ea2254-bcd2-4269-b8f2-067fd5e8a8cd-->